body {
    background-color:#191919;
}

h1 {
    color:#fc87fc
}

h2 {
    color: #fc87fc;
}

h3 {
    color: #fc87fc;
}

h4 {
    color: #fc87fc;
}

p {
    color:#fc87fc
}

b {
    color:#fc87fc
}

li {
    color:#fc87fc
}

label {
    color: #fc87fc;
}

a {
    color: #ff00ff;
}
