body {
    font-family: "Papyrus", "Courier New", monospace;
    text-align: center;
    font-size: 150%;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: lighter;
    text-align: left;
}

input {
    cursor: pointer;
}

div {
    border-radius: 10px;
}